@import "tailwindcss";

@theme {
  --font-sans: "Inter", sans-serif;
  --font-display: "Geist", sans-serif;
}


@font-face {
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url("/fonts/inter-latin-400-normal.woff2") format("woff2");
}

@font-face {
  font-family: "Inter";
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: url("/fonts/inter-latin-700-normal.woff2") format("woff2");
}

@font-face {
  font-family: "Geist";
  font-style: normal;
  font-weight: 100 900;
  font-display: swap;
  src: url("/fonts/Geist[wght].woff2") format("woff2");
}

html,
body {
  margin: 0;
  width: 100%;
  height: 100%;
  scroll-behavior: smooth;
  overflow-x: hidden;
}
